.listings-sec {
    width: 650px;
    height: 90px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgb(221, 221, 221);
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 0px;

}

.listing {
    padding: 10px;
    border-radius: 3px;
    background-color: #000000
}






.become-a-host>h1 .show {
    opacity: 0;

}

.show {
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}